Comics
EquationSheet.pdf
Music
Pictures
TEMP
backup/
current_queue.html
default/
ISF_plots/
movies
movies2
noise_plot.pdf
slide_clements.pdf
slide_white.pdf
stt_docs
television
user_guide.pdf
video
video_queue.html
*.mp4
videos/thumbnails*
zpt_plots/
.htpasswd
garmin/
